<section class="testimonial py-5" *ngIf="!isLoading">
  <div class="swiper-width">
    <div class="header">
      <h2>{{ 'testimonial.h2' | translate }}</h2>
      <p>{{ 'testimonial.p' | translate }}</p>
    </div>

    <div class="swiper-container position-relative">
      <img src="../../../assets/images/vector0.svg" alt="vector0" class="img-fluid position-absolute start-50 top-0"
        loading="lazy">

      <!-- Swiper Container -->
      <swiper-container #swiper [slidesPerView]="3" [spaceBetween]="20" [pagination]="false" [loop]="true"
        [autoplay]="{ delay: 3000, disableOnInteraction: false }" [breakpoints]="swiperBreakpoints" class="mySwiper">

        <!-- Static Testimonial 1 -->
        <swiper-slide>
          <div class="testimonial-card">
            <img src="../../../assets/images/user.webp" alt="Omar Mohamed" loading="lazy">
            <i class="fas fa-quote-left"></i>
            <h3>Omar Mohamed</h3>
            <p>{{ 'testimonials.omar' | translate }}</p>
          </div>
        </swiper-slide>

        <!-- Static Testimonial 2 -->
        <swiper-slide>
          <div class="testimonial-card">
            <img src="../../../assets/images/user.webp" alt="Ahmed Elsayed" loading="lazy">
            <i class="fas fa-quote-left"></i>
            <h3>Ahmed Elsayed</h3>
            <p>{{ 'testimonials.ahmed' | translate }}</p>
          </div>
        </swiper-slide>

        <!-- Static Testimonial 3 -->
        <swiper-slide>
          <div class="testimonial-card">
            <img src="../../../assets/images/user.webp" alt="Khalid Salah" loading="lazy">
            <i class="fas fa-quote-left"></i>
            <h3>Khalid Salah</h3>
            <p>{{ 'testimonials.khalid' | translate }}</p>
          </div>
        </swiper-slide>

        <!-- Static Testimonial 4 -->
        <swiper-slide>
          <div class="testimonial-card">
            <img src="../../../assets/images/user.webp" alt="Mohamed Majdy" loading="lazy">
            <i class="fas fa-quote-left"></i>
            <h3>Mohamed Majdy</h3>
            <p>{{ 'testimonials.company' | translate }}</p>
          </div>
        </swiper-slide>



      </swiper-container>

      <!-- Custom Navigation Buttons -->
      <div class="custom-navigation">
        <button aria-label="Previous image" class="custom-prev-btn" (click)="goToPrevSlide()">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button aria-label="next image" class="custom-next-btn" (click)="goToNextSlide()">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</section>