.testimonial {
  overflow-x: hidden;

  -webkit-overflow-x: hidden; /* Safari */
  -moz-overflow-x: hidden; /* Firefox */
  -ms-overflow-x: hidden; /* Internet Explorer */
  -o-overflow-x: hidden; /* Opera */
}
